@import url('https://fonts.googleapis.com/css2?family=Fustat:wght@200..800&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #e8e6e3;
  --secondary: #a09788;
  --white: #f6f6f6;
  --bg: #989590;
}

.toggleDarkMode {
  --primary: #cfcfcf;    /* Dark mode text color */
  --secondary: #444444;  /* Dark mode secondary color */
  --white: #333333;      /* Dark mode background color for content areas */
  --bg: #000;   
}

body {
  font-family: "Fustat", sans-serif;
  color: var(--primary);
  background-color: var(--bg);
}

#main {
  background-color: var(--bg);
  min-height: 70vh;
  background-image: radial-gradient(rgba(255, 255, 255, 0.171) 2px, transparent 0);
  background-size: 30px 30px;
  background-position: -5px -5px;
}


a{
  text-decoration: none;
}
.container{
  max-width: 1200px;
  padding: 16px;
  margin: auto;
}
section{
  margin: 80px auto;

}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-list{
  display: flex;
  list-style: none;
  gap: 28px;
  align-items: center;
}

.nav-list a{
  color: var(--white);

}
.btn{
  padding: 12px 20px;
  background: transparent;
  outline: none;
  cursor: pointer;
  border-radius: 5px;

}
.btn-secondary{
  border: 2px solid var(--white);
  color: var(--white);
  font-weight: bold;
}

.btn-primary{
  border: none;
  background: var(--secondary);
  color: var(--primary);
}

.main-content{
  display: flex;
  flex-direction: column;
/*  align-items: center;*/
/*  justify-content: center;*/
  margin-top: 80px;
  color: var(--white);
}
.main-content .intro-heading{
  font-size: 30px;
}
.main-content .main-heading{
  font-size: 60px;
  margin-top: 5px;
}
.main-content p{
  max-width: 250px;
  margin-bottom: 10px;
}
.menu-btn{
  position: absolute;
  top: 20px;
  right: 20px;
  display: none;
  width: 30px;
}
.section-title1 h1{
  font-size: 50px;
  text-align: center;
}
.section-title1 .line1{
  width: 150px;
  height: 4px;
  border: 10px;
  background: var(--secondary);
  margin: auto;
}
.section-title h1{
  font-size: 50px;
  text-align: center;
}
.section-title .line{
  width: 150px;
  height: 4px;
  border: 10px;
  background: var(--secondary);
  margin: auto;
}

.services{
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
  text-align: right;
}
.service li{
  text-align: rtl;
}
.service{
  width: 450px;
}
.service img{
  max-width: 100%;
  border-radius: 5px;
  transition: transform 0.3 ease;
}
.service img:hover{
  transform: scale(1.05);
}

#aboutus{
background: gray;
}
#aboutus .container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
/*  max-width: 600px;*/
  gap: 120px;
/*  padding: 50px 16px;*/
}
#aboutus .container .aboutus-content{
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 16px;
/*  align-items: start;*/
  text-align: right;
}
/*#aboutus .container .aboutus-content h3{
  font-size: 30px;
  font-family: ;
  text-align:right ;
}*/
#aboutus .aboutus-img{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.toggleDarkMode {
  --toggle-size: 9px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 6.25em;
  height: 3.125em;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #efefef), color-stop(50%, #2a2a2a)) no-repeat;
  background: -o-linear-gradient(left, #efefef 50%, #2a2a2a 50%) no-repeat;
  background: linear-gradient(to right, #efefef 50%, #2a2a2a 50%) no-repeat;
  background-size: 205%;
  background-position: 0;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  border-radius: 99em;
  position: relative;
  cursor: pointer;
  font-size: var(--toggle-size);
}

.toggleDarkMode::before {
  content: "";
  width: 2.25em;
  height: 2.25em;
  position: absolute;
  top: 0.438em;
  left: 0.438em;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #efefef), color-stop(50%, #2a2a2a)) no-repeat;
  background: -o-linear-gradient(left, #efefef 50%, #2a2a2a 50%) no-repeat;
  background: linear-gradient(to right, #efefef 50%, #2a2a2a 50%) no-repeat;
  background-size: 205%;
  background-position: 100%;
  border-radius: 50%;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.toggleDarkMode:checked::before {
  left: calc(100% - 2.25em - 0.438em);
  background-position: 0;
}

.toggleDarkMode:checked {
  background-position: 100%;
}
@media screen and (max-width: 520px) {
  .menu-btn{
    display: block;
  }
  .nav-list{
    flex-direction: column;
    background: transparent;
    position: absolute;
    top: 0;
    right: -900px;
    width: 80%;
    height: 100vh;
    padding-top: 80px;
    transition: all 0.3s ease;
  }
  .nav-list.active{
    right: 0;
  }
  .nav-list li{
  text-align: right;
  width: 100%;
  padding: 10px 30px;
  border-bottom: 1px solid var(--white);
}
#aboutus .container{
  flex-direction: column;
  gap: 30px;
}
}

.form {
  display: flex;
  flex-direction: column;
  align-self: center;
  font-family: inherit;
  gap: 10px;
  padding-inline: 2em;
  padding-bottom: 0.4em;
  background-color: #171717;
  //background-color: #0a192f;
  border-radius: 20px;
}

.form-heading {
  text-align: center;
  margin: 2em;
  color: #64ffda;
  font-size: 1.2em;
  background-color: transparent;
  align-self: center;
}

.form-field {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  border-radius: 10px;
  padding: 0.6em;
  border: none;
  outline: none;
  color: white;
  background-color: #171717;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}

.input-field {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  color: #ccd6f6;
  padding-inline: 1em;
}

.sendMessage-btn {
  cursor: pointer;
  margin-bottom: 3em;
  padding: 1em;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: transparent;
  color: #64ffda;
  font-weight: bold;
  outline: 1px solid #adad85;
  transition: all ease-in-out 0.3s;
}

.sendMessage-btn:hover {
  transition: all ease-in-out 0.3s;
  background-color: #64ffda;
  color: #000;
  cursor: pointer;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}

.form-card1 {
  background-image: linear-gradient(163deg, #adad85 0%, #adad85 100%);
  border-radius: 22px;
  transition: all 0.3s;
}

.form-card1:hover {
  box-shadow: 0px 0px 30px 1px rgb(173, 173, 133);
}

.form-card2 {
  border-radius: 0;
  transition: all 0.2s;
}

.form-card2:hover {
  transform: scale(0.98);
  border-radius: 20px;
}

* {box-sizing: border-box}
body {font-family: "Fustat", sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the left */
.next {
  left: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

.footer {
  position: relative;
  width: 100%;
  background: #3586ff;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("https://i.ibb.co/wQZVxxk/wave.png");
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}