@import url('https://fonts.googleapis.com/css2?family=Fustat:wght@200..800&display=swap');

/* General Styles */
body {
    font-family: "Fustat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f9f9f9;
}
header {
    background-color: #333;
    color: #fff;
    padding: 30px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo  {
    margin: 0;
}

header nav ul {
    list-style: none;
    text-align: right;
    width: 100%;
    padding: 10px 30px;
    display: flex;
}

header nav ul li {
    display: inline;
    margin: 0 15px;    
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

header nav ul li a:hover {
    text-decoration: none;
    color: #ffcc00;
}

.intro {
    background-color: #ffcc00;
    color: #333;
    padding: 100px 0;
}

.intro h1 {
    font-size: 30px;
    text-align: center;
    margin-top: 3px;

}

.intro p {
    font-size: 20px;
    text-align: center;
}

.about {
    background-color: #ffcc00;
    color: #333;
    padding: 100px 0;

}

.about h1 {
    font-size: 30px;
    text-align: center;
    margin-top: 3px;
}
.about p {
    font-size: 20px;
    text-align: center;
}
/* Slider Styles */
.slider {
    position: relative;
    max-width: 100%;
    margin: 20px auto;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.services slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
    position: relative;
}

.slide img {
    width: 100%;
    height: auto;
}

.slide-content {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    padding: 10px;
}

/* Slider Buttons */
button.prev, button.next {
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    transform: translateY(-50%);
    z-index: 1;
}

button.prev {
    left: 10px;
}

button.next {
    right: 10px;
}

/* Contact Form Styles */
.form {
  display: flex;
  flex-direction: column;
  align-self: center;
  font-family: inherit;
  gap: 10px;
  padding-inline: 2em;
  padding-bottom: 0.4em;
  background-color: #171717;
  //background-color: #0a192f;
  border-radius: 20px;
}

.form-heading {
  text-align: center;
  margin: 2em;
  color: #64ffda;
  font-size: 1.2em;
  background-color: transparent;
  align-self: center;
}

.form-field {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  border-radius: 10px;
  padding: 0.6em;
  border: none;
  outline: none;
  color: white;
  background-color: #171717;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}

.input-field {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  color: #ccd6f6;
  padding-inline: 1em;
}

.sendMessage-btn {
  cursor: pointer;
  margin-bottom: 3em;
  padding: 1em;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: transparent;
  color: #64ffda;
  font-weight: bold;
  outline: 1px solid #adad85;
  transition: all ease-in-out 0.3s;
}

.sendMessage-btn:hover {
  transition: all ease-in-out 0.3s;
  background-color: #64ffda;
  color: #000;
  cursor: pointer;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}

.form-card1 {
  background-image: linear-gradient(163deg, #adad85 0%, #adad85 100%);
  border-radius: 22px;
  transition: all 0.3s;
}

.form-card1:hover {
  box-shadow: 0px 0px 30px 1px rgb(173, 173, 133);
}

.form-card2 {
  border-radius: 0;
  transition: all 0.2s;
}

.form-card2:hover {
  transform: scale(0.98);
  border-radius: 20px;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 15px;
    text-align: center;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
    font-size: 24px;
}

.social-icons a:hover {
    color: #ffcc00;
}
@media screen and (max-width: 520px) {
  
  .header{
    flex-direction: column;
    background: transparent;
    position: absolute;
    top: 0;
    right: -900px;
    width: 80%;
    height: 100vh;
    padding-top: 80px;
    transition: all 0.3s ease;
  }
  .header{
    right: 0;
  }
  .header ul li{
  text-align: right;
  width: 100%;
  padding: 10px 30px;
  border-bottom: 1px solid var(--white);
}
header nav ul li a {
    font-size: 13px;
}
.logo{
    width: 30px;
}
}